/* css for blog feed finder */

article.bff-form .container {
    background: #fefefe;
}
article.bff-form .container .entry-content p {
    padding-left: 28px;
}
#blog-feed-finder {
    /*border: dotted 1px #ccc;*/
    padding: 20px;
    margin: 2em;
    border: 2px #ddd solid;
    border-radius: 6px;
    background: #eee;
    width: auto;
}
#bff-url {
    width: 28em;
}
#bff-submit {
    padding: 6px 8px;
    color: #333;
    background: #F7BD27;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000;
}
#bff-submit:hover {
    color: #000;
    box-shadow: 4px 4px 10px #000;
    text-decoration: none;
}
#bff-submit:active {
    box-shadow: 0px 0px 10px #000;
    text-decoration: none;
}
#bff-submit:visited {
    text-decoration: none;
}
#bff-feedback {
    margin-top: 1em;
    padding: 6px 2px;
    /*color: #9C0B06;*/
    color: blue;
}
#bff-feedback.success {
    color: green;
}
#bff-feedback.failure {
    color: red;
}
#bff-feedback p {
    padding-left: 0px;
}
#bff-feedback p.netural {
    color: blue;
}
#bff-feedback p.good {
    color: green;
}
#bff-feedback p.problem {
    color: red;
}
